body {
    /* A imagem do banner será definida dinamicamente via JavaScript */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.preview-banner {
    width: 100%; /* Faz a imagem de pré-visualização cobrir toda a largura da tela */
    height: 300px; /* Defina a altura do banner conforme necessário */
    object-fit: cover; /* Garante que a imagem de pré-visualização se ajuste corretamente */
    object-position: center;
}

img {
    display: block;
    padding: 2px;
    border: 1px solid;
    border-radius: 80px;
    border-color: blue;
}

h1 {
    color: brown;
    display: inline-block;
    padding: 2px;
    border: 2px solid black; /* Adiciona borda preta */
    border-radius: 14px; /* Bordas arredondadas */
    margin: 0 auto; /* Centraliza o elemento na tela */
}
